{% extends "base.html" %}

{% block content %}
<div class='grid_sizer'></div>
{% for article in articles_page.object_list %}
{%- if article.content|length > 1300 %}
<article class='grid_item grid_item-long'>
{%- else -%}
<article class='grid_item'>
{%- endif %}
  <header>
    <h2><a href="{{ SITEURL }}/{{ article.url }}#{{ article.slug }}">{{ article.title }}</a></h2>
    <div class="post-info">
      <p>
        {{ _('%(when)s', when=article.locale_date) }} &ndash;
        {% if 'post_stats' in PLUGINS %}
          {{ article.stats['read_mins'] }} min read &ndash;
        {% endif %}
        Tagged with:
        {% if article.tags %}
        {% for tag in article.tags %}
        <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>
        {% endfor %}
        {% endif %}
      </p>
    </div>
  </header>
  <div>
    {% if article.summary != article.content %}
      {{ article.summary }}
      <p class="post-info"><a href="{{ SITEURL }}/{{ article.url }}#{{ article.slug }}">{{ _('Continue reading') }}</a></p>
    {% else %}
      {{ article.content }}
    {% endif %}
  </div>
  {% if not loop.last %}
  <hr />
  {% endif %}
</article>
{% endfor %}

{% include "partial/pagination.html" %}
{% endblock %}
