@import "mixins.less";
//9ab83f #486f21
@dark-green: #323c12;
@green: #3bb706;
@light-green: #CBF54A;
@orange: #D9411E;
@light-orange: #FF5A09;
@white:  #ffffff;
@grey: #333333;
@light-grey:  #eeeeee;
@med-grey:  #999999;
@dark-grey: #242121;
@sans: 'Source Sans Pro', 'Verdana', sans-serif;
@mono: 'Source Code Pro', 'Consolas', monospace;
@titleff: 'Contrail One', Helvetica, sans-serif;
@headerff: 'Lato', Helvetica, sans-serif;
@bodyff: 'Roboto', Helvetica, sans-serif;


@bright-green: rgba(203,245, 74,1);	/* Bright Green Primary color */
@creamy-green: rgba(227,251,155,1);
@light-green: rgba(214,248,110,1);
@bold-green: rgba(192,242, 38,1);
@green: rgba(154,202,  7,1);

@salmon: rgba(242, 73,103,1);	/* Main Secondary color (1) */
@creamy-pink: rgba(250,154,171,1);
@soft-pink: rgba(246,109,133,1);
@bold-salmon: rgba(239, 38, 73,1);
@rockabilly: rgba(199,  7, 41,1);

@violet: rgba(130, 66,188,1);	/* Main Secondary color (2) */
@creamy-violet: rgba(190,147,228,1);
@light-violet: rgba(157,100,208,1);
@bold-violet: rgba(108, 38,172,1);
@regicide: rgba( 82, 15,143,1);
@dark-regicide: rgba(31, 5, 55, 1);
@dark-regicide-50: rgba(31, 5, 55, .5);
@dark-regicide-20: rgba(31, 5, 55, .2);
@dark-regicide-5: rgba(31, 5, 55, .05);


html, body {
  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: @headerff;
  line-height: 1.1;
}

h1{
  font-size: 2.4em
}

h2 {
  font-size: 2em
}

h3 {
  font-size: 1.6em;
}

h4 {
  font-size: 1.36em;
}

h5 {
  font-size: 1.2em;
}

h6 {
  font-size: 1.1em;
}

body {
  margin: 0;
  padding: 0;
  background-color: @white;
  color: @dark-grey;
  font-family: @bodyff;
  font-size: 1.02em;
  line-height: 1.2em;
}

a {
  color: @bold-salmon;
  text-decoration: none;
}

a:hover {
  color: @regicide;
}

hr {
  color: @light-grey;
  background-color: @light-grey;
  height: 1px;
  border: none;
  margin-top: 40px;
  margin-bottom: 40px;
}

img {
  max-width: 100%;
}

aside {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e3f5ab+0,b7df2d+41,b7df2d+58,b7df2d+58,333333+100 */
  /* other good combos:
  @creamy-green 0%,
  @bold-green 20%,
  @bold-salmon 80%,
  @dark-regicide 100%);

  @creamy-green 0%,
  @bold-green 20%,
  @bright-green 60%,
  @green 80%,
  @dark-grey 100%);


  @darker-regicide: rgba(12, 2, 22, 1);

*/
  background: rgb(227,245,171); /* Old browsers */
  background: -moz-linear-gradient(top,
    @creamy-green 0%,
    @bold-green 40%,
    @bold-salmon 60%,
    @regicide 80%,
    @dark-regicide 100%); /* Chrome10-25,Safari5.1-6 */
  background: -webkit-linear-gradient(top,
    @creamy-green 0%,
    @bold-green 40%,
    @bold-salmon 60%,
    @regicide 80%,
    @dark-regicide 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,
    @creamy-green 0%,
    @bold-green 40%,
    @bold-salmon 60%,
    @regicide 80%,
    @dark-regicide 100%); /* Chrome10-25,Safari5.1-6 */
  //filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3f5ab', endColorstr='#333333',GradientType=0 ); /* IE6-9 */
  color: @grey;
  text-align: center;

  a {
    color: @dark-grey;
    font-weight: 600;
    font-family: @headerff;
    .transition(all 500ms cubic-bezier(0.42, 0, 0.58, 1));
  }

  a:hover {
    text-shadow: 0 0 20px @dark-regicide-50;
    .transition(all 300ms cubic-bezier(0.42, 0, 0.58, 1));
  }

  div {
    padding: 20px;
    margin: 0;

    img {
      border-radius: 50%;
      max-width: 140px;
    }

    h1 {
      a {
        .box-sizing(content-box);
        border: none;
        font: normal normal bold 48px/normal @titleff;
        color: rgba(50,50,50,1);
        text-align: center;
        -o-text-overflow: clip;
        text-overflow: clip;
        .transition(all 500ms cubic-bezier(0.42, 0, 0.58, 1));
        margin: 15px 0 5px 0;
      }

      a:hover {
        // color: rgba(255,255,255,1);
        // color: rgba(145,193,148,1);
        //shadow extras, 4px 4px 8px rgba(86,135,44,1) , -4px 4px 8px rgba(86,135,44,1) , 4px -4px 8px rgba(86,135,44,1) , -4px -4px 8px rgb(44,88,137)
        // text-shadow: 1px 1px 0 , -1px -1px 0 rgba(255,255,255,0.5) , 1px -1px 0 rgba(255,255,255,0.5) , -1px 1px 0 rgba(255,255,255,0.5);
        text-shadow: 4px 4px 8px @creamy-pink , -4px 4px 8px @creamy-violet , 4px -4px 8px @creamy-pink , -4px -4px 8px @creamy-violet ;
        .transition(all 300ms cubic-bezier(0.42, 0, 0.58, 1));
      }
    }

    p {
      margin: 0 0 15px 0;
      font-size: .92em;
    }
  }

  nav {
    ul {
      li {
        display: inline;
        line-height: 1.6em;
        font-size: 1.28em;
        text-transform: lowercase;
      }
    }
  }

  footer {
    position:absolute;
    bottom: 15px;
    padding-top: 4px;
    width: 100%;

    p {
      margin: 2px auto;
      text-align: center;
      color: @light-violet;
      font-size: .7em;
    }
    a {
      color: @light-violet;
      font-weight: normal;
    }
    a:hover {
      color: @bold-salmon;
    }
  }
}

main {
  nav {
    text-align: center;
    text-transform: uppercase;
    font-size: .72em;
    padding: 14px 0 14px 0;
    border-bottom: @light-grey 1px solid;

    a {
      padding: 0 4px 0 4px;
      border-right: @light-grey 1px solid;
    }

    :first-child {
      border-left: @light-grey 1px solid;
    }
  }

  .pagination {
    margin: 4% 8% 2% 8%;
    height: 20px;
  }

  .social-share {
    p {
      font-size: .8em;
    }
  }
  article.grid_item {
    padding: .5em 1em;
    width: 300px;

    .youtube-embed {
      width: 300px;
      height: 169px;
      margin: .3em auto;
    }
  }


  article {
    // margin: 0 8% 2% 8%;
    margin: auto;
    min-height: 300px;

    header {
      h1, h2 {
        .box-sizing(content-box);
        border-bottom: 1px solid rgba(30,30,30,.5);
        font: normal normal bold 2em/normal @titleff;
        text-align: left;
        -o-text-overflow: clip;
        text-overflow: clip;
        padding-top: 15px;
        padding-bottom: -5px;
        margin: 0 0 5px 0;

        a {
          color: @bold-salmon;
          .transition(all 500ms cubic-bezier(0.42, 0, 0.58, 1));
        }

        a:hover {
          color: @regicide;
          text-shadow: 2px 2px 4px @creamy-pink , -2px 2px 4px @creamy-violet , 2px -2px 4px @creamy-pink , -2px -2px 4px @creamy-violet ;
          .transition(all 300ms cubic-bezier(0.42, 0, 0.58, 1));
        }
      }

    p {
      a { font-weight: 300; }
    }

    code, kbd, samp, pre {
      font-family: @mono;
    }

    blockquote, pre {
      background-color: rgba(128,128,128,0.05);
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      border-left: 8px solid rgba(128,128,128,0.075);
      border-left-width: 10px;
    }

    blockquote {
      padding: 10px 20px;
      font-weight: 300;
      font-size: 1.1em;
    }

    pre {
      padding: 4px;
      font-size: .9em;
      overflow-x: auto;
    }

    samp {
      white-space: pre;
      display: block;
      overflow-x: auto;
    }

    kbd {
      padding: .1em .6em;
      border: 1px solid rgba(63,63,63,0.25);
      box-shadow: 0 1px 0 rgba(63,63,63,0.25);
      background-color: #fff;
      color: #333;
      border-radius: 3px;
      display: inline-block;
      margin: 0 .1em;
      white-space: nowrap;
      font-size: .78em;
    }

    code {
      font-size: .8em;
      white-space: nowrap;
      color: #c25;
      padding: 1px 3px;
      background-color: #f7f7f9;
      border: 1px solid #e1e1e8;
      border-radius: 3px;
    }

    .comment-count {
      font-size: .8em;
    }

    // div.pocketlog {
    //   margin: 1em 0;
    //   h1, h2, h3, h4, h5, h6 {
    //     margin: 1em auto;
    //   }
    //   .excerpt-image {
    //     margin: .6em .8em;
    //   }
    //   article {
    //     margin: 0 2em 1em 2em;
    //     width: 80%;
    //     border-bottom: 1px dotted @light-grey;
    //   }
    // }

    table {
      border-collapse: collapse;
      border-spacing: 0;

      thead:first-child tr:first-child th {
         border-top: 0;
      }

      th, td {
        padding: 8px;
        line-height: 20px;
        vertical-align: top;
        border-top: 1px solid #ddd;
      }
    }
  }
}

}

.post-info {
  font-size: .85em;
  color: @dark-grey;
  font-family: @headerff;

  p {
    margin: .2em 0;
  }

  a {
    padding: 0 .2em;
    .transition(all 500ms cubic-bezier(0.42, 0, 0.58, 1));
  }

  a:hover {
    .transition(all 300ms cubic-bezier(0.42, 0, 0.58, 1));
  }
}

a.btn {
  background-color: @orange;
  padding: .6em .6em;
  font-size: .8em;
  line-height: 1;
  color: @white;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}

a.btn:hover {
  background-color: @light-orange;
}

.altspan {
  // text-decoration:underline;
  // text-decoration-style: wavy;
  padding: 0 .3em;
  margin: auto 0;
  background-color: @dark-regicide-5;
}

.center, .text-center {
  text-align: center;
}

.img-center {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.float-right {
  float: right;
}

.left-30 {
  float: left;
  width: 30%;
  margin: 0 1em;
}

div.related-posts {
  margin: 15px 0 15px 0;
  padding-bottom: 20px;
  border-top: @light-grey 1px solid;
  border-bottom: @light-grey 1px solid;

  h4 {
    margin: 20px 0 25px 0;
  }

  ul {
    font-size: 1.1em;
    padding-left: 12px;

    li {
      padding: 4px 0 4px 0;
    }
  }
}

ul.list, ul.social, ul.related-posts {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.list {
  padding: 1em 0 1em 0;

  li {
    padding: 4px;
  }
}

ul.social {
  font-size: 1.6em;
  padding-top: 20px;

  li {
    display: inline;
  }

  a:hover {
    z-index: 2;
    background-color: @regicide;
  }

  a {
    display: inline-block;
    width: 36px;
    height: 36px;
    border-radius: 100%;
    text-align: center;
    font-size: .9em;
    line-height: 36px;
    color: @creamy-violet;
  }

  a.sc-facebook, a.sc-google, a.sc-pinterest, a.sc-linkedin, a.sc-rss, a.sc-stack-overflow, a.sc-twitter, a.sc-youtube, a.sc-github, a.sc-github-alt, a.sc-envelope-o, a.sc-reddit, a.sc-soundcloud {
  }

}

//
// Desktop
//

@media screen and (min-width: 768px) {
  aside {
    width: 300px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 50px;
    overflow-y: auto;

    border-right: 1px @dark-regicide solid;
    border-left: 1px @dark-regicide solid;

    div {
      padding: 36px 18px;

      nav {
        ul {
          li {
            padding: 0 !important;
            display: block;
          }
        }
      }

      ul.social {
        padding-top: 32px;

        a:hover {
          background-color: @creamy-violet;
        }

        a {
          color: @dark-regicide;
        }
      }
    }
  }

  main {
    width: 65%;
    height: 100%;
    top: 0;
    left: 370px;

    article.grid_item {
      width: 400px;
      height: auto;

      .youtube-embed {
        width: 400px;
        height: 225px;
        margin: .3em auto;
      }

      ul.list {
        li {
          padding: 2px;
        }
      }
    }
  }
}

@media screen and (min-width: 1400px) {
  main {
    width: 70%;
  }
}
